.pytest_cache

alembic/__pycache__
alembic/verions/__pycache__

app/__pycache__
app/database/__pycache__
app/vendor/__pycache__
app/vendor/data/__pycache__
app/vendor/lib/__pycache__

app/api/__pycache__
app/api/health/__pycache__
app/api/license/__pycache__